name: Build Flet APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install flet
      - name: Build APK
        run: flet build apk
      - uses: actions/upload-artifact@v4
        with:
          name: SmartOps-App
          path: build/apk/*.apk
